// 标题字体
//$vp-font-heading: '"JetBrainsMonoNL-Regular"';
$vp-font-heading: '"JetBrainsMonoNL-Regular", "LXGWWenKaiMono-Regular"';
// 正文字体
$vp-font: '"JetBrainsMonoNL-Regular", "LXGWWenKaiMono-Regular"';
// 代码块字体
//$vp-font-mono: '"JetBrainsMonoNL-Regular", "LXGWWenKaiMono-Regular"';
$vp-font-mono: '"JetBrainsMonoNL-Regular"';
