// 主题色
$theme-color: #2980B9;

// 主要内容宽度
$content-width: 940px;

// 字体
@font-face {
  font-family: "JetBrainsMonoNL-Regular";
  src: url("/font/JetBrainsMonoNL-Regular.woff2");
}
@font-face {
  font-family: "title-font";
  src: url("/font/title-font.woff2");
}

.navbar .site-name {
  font-family: "title-font";
}

.hero-info-wrapper h1 {
  font-weight: 300;
  font-family: 'title-font';
}

// 正文字体
//$font-family: '"JetBrainsMonoNL-Regular"';
// 代码块字体
//$font-family-code: '"JetBrainsMonoNL-Regular"';