// 内容的宽度
$contentWidth = 100%

// 首页的宽度
$homePageWidth = 1200px

$MQNarrow ?= 1280px

// 颜色
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// 字体修改
@font-face {
  font-family: JetBrainsMonoNL-Regular;
  src: url("/font/JetBrainsMonoNL-Regular.woff2");
}

// 正文字体大小
.page {
  font-family: JetBrainsMonoNL-Regular;
  //font-size: 16px;
}

// 代码样式
.theme-default-content code {
  font-family: JetBrainsMonoNL-Regular;
  font-size: 0.88em;
}